@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  display: none;
}

.registro-financeiro::-webkit-scrollbar {
  display: none;
}

.registro-financeiro::-webkit-scrollbar-track {
  display: none;
}

.registro-financeiro::-webkit-scrollbar-thumb {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.select-purple-icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  padding-right: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='rgba(107, 33, 168, 1)'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 10.794l3.71-3.56a.75.75 0 111.04 1.08l-4.22 4.05a.75.75 0 01-1.04 0l-4.22-4.05a.75.75 0 01.02-1.06z' clip-rule='evenodd'/%3E%3C/svg%3E");
  font-weight: bold;
  border: none;
}

.select-purple-icon:focus {
  outline: none;
  box-shadow: none;
}
